customer-api-biz/.classpath
customer-api-biz/.project
customer-api-core/.classpath
customer-api-face/.classpath
customer-api-face/.project
customer-api-web/.classpath
customer-api-web/.project
customer-api-web/.settings/.jsdtscope
.project
customer-api-core/.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
customer-api-biz/.settings/org.eclipse.core.resources.prefs
customer-api-biz/.settings/org.eclipse.jdt.core.prefs
customer-api-biz/.settings/org.eclipse.m2e.core.prefs
customer-api-biz/.settings/org.eclipse.wst.common.component
customer-api-biz/.settings/org.eclipse.wst.common.project.facet.core.xml
customer-api-biz/.settings/org.eclipse.wst.validation.prefs
customer-api-core/.settings/org.eclipse.core.resources.prefs
customer-api-core/.settings/org.eclipse.jdt.core.prefs
customer-api-core/.settings/org.eclipse.m2e.core.prefs
customer-api-core/.settings/org.eclipse.wst.common.component
customer-api-core/.settings/org.eclipse.wst.common.project.facet.core.xml
customer-api-core/.settings/org.eclipse.wst.validation.prefs
customer-api-face/.settings/org.eclipse.core.resources.prefs
customer-api-face/.settings/org.eclipse.jdt.core.prefs
customer-api-face/.settings/org.eclipse.m2e.core.prefs
customer-api-face/.settings/org.eclipse.wst.common.component
customer-api-face/.settings/org.eclipse.wst.common.project.facet.core.xml
customer-api-face/.settings/org.eclipse.wst.validation.prefs
customer-api-web/.settings/org.eclipse.core.resources.prefs
customer-api-web/.settings/org.eclipse.jdt.core.prefs
customer-api-web/.settings/org.eclipse.m2e.core.prefs
customer-api-web/.settings/org.eclipse.wst.common.component
customer-api-web/.settings/org.eclipse.wst.common.project.facet.core.xml
customer-api-web/.settings/org.eclipse.wst.jsdt.ui.superType.container
customer-api-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
customer-api-web/.settings/org.eclipse.wst.validation.prefs
