<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">  
      
    <!-- 提供方应用信息，用于计算依赖关系 -->  
    <dubbo:application name="${dubbo.application.name}"  />
    <dubbo:monitor  protocol="registry"/>  
   
    <!-- 使用multicast广播注册中心暴露服务地址   
    <dubbo:registry address="multicast://224.5.6.7:1234" />-->  
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <dubbo:registry address="${dubbo.registry.address}"/>   
    
    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}"  />
    <!-- <dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" host="192.168.0.106"/> -->
     
    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->  
    <dubbo:reference id="hotelService"  
        interface="com.fangbaba.basic.face.service.HotelService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="roomtypeService"  
        interface="com.fangbaba.basic.face.service.RoomtypeService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="cityService"  
        interface="com.fangbaba.basic.face.service.CityService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="districtService"  
        interface="com.fangbaba.basic.face.service.DistrictService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="provinceService"  
        interface="com.fangbaba.basic.face.service.ProvinceService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
       <dubbo:reference id="distributionPriceService"  
        interface="com.fangbaba.basic.face.service.DistributionPriceService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="roomService"  
        interface="com.fangbaba.basic.face.service.RoomService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>  
    <dubbo:reference id="otaRoomtypeService"  
        interface="com.fangbaba.gds.face.service.OtaRoomtypeService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  <dubbo:reference id="stockService"  
        interface="com.fangbaba.stock.face.service.IStockService"  timeout="30000" group="${dubbo.stock.group}" version="1.0.0" check="false"/>  
  <dubbo:reference id="hotelSearchService"  
        interface="com.fangbaba.gds.face.service.IHotelSearchService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  <dubbo:reference id="priceService"  
        interface="com.fangbaba.gds.face.service.IPriceService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  <dubbo:reference id="otaHotelService"  
        interface="com.fangbaba.gds.face.service.IOtaHotelService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  <dubbo:reference id="iDistributorConfigService"  
        interface="com.fangbaba.gds.face.service.IDistributorConfigService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  
  <dubbo:reference id="orderService"  
        interface="com.fangbaba.order.service.OrderService"  timeout="30000" group="${dubbo.order.group}" version="1.0.0" check="false"/>  
  
   <dubbo:reference id="iDistributionPriceService"  
        interface="com.fangbaba.gds.face.service.IDistributionPriceService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>
   
   <dubbo:reference id="iHotelContractService"  
        interface="com.fangbaba.gds.face.service.IHotelContractService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>
             
          
   <dubbo:reference id="messageService"  
        interface="com.mk.mms.face.service.IMessageService"  timeout="30000" group="${dubbo.message.group}" version="1.0.0" check="false"/>  
  
   <dubbo:reference id="userInfoOperService"  
        interface="com.thinkgem.jeesite.ws.UserInfoOperService"  timeout="30000" group="${dubbo.auth.group}" version="1.0" check="false"/>  
  
    <dubbo:reference id="statisticsService"  
        interface="com.fangbaba.basic.face.service.StatisticsService"  timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>
<!--   <bean id="MockOrderServiceImpl" class="com.fangbaba.trip.service.impl.MockOrderServiceImpl"/> -->
  	<dubbo:reference id="washAfreshService"
		interface="com.fangbaba.wash.order.service.WashAfreshService" timeout="30000" group="${dubbo.wash.group}"  version="1.0.0" check="false"/>  
  	<dubbo:reference id="washingOrderService"
		interface="com.fangbaba.wash.order.service.IWashingOrderService" timeout="30000" group="${dubbo.wash.group}"  version="1.0.0" check="false"/>
		
	<dubbo:reference id="iHotelChannelSettingService"  
        interface="com.fangbaba.gds.face.service.IHotelChannelSettingService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
   	
	<dubbo:reference id="iHotelOnsaleService"  
        interface="com.fangbaba.gds.face.service.IHotelOnsaleService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  			  
  	<dubbo:reference id="hotelBusinessService"
		interface="com.fangbaba.basic.face.service.HotelBusinessService" timeout="30000" group="${dubbo.basic.group}"  version="1.0.0" check="false"/>
		
	<dubbo:reference id="iCityMappingService"  
        interface="com.fangbaba.gds.face.service.ICityMappingService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
	
	<dubbo:reference id="iGdsChannelUrlService"  
        interface="com.fangbaba.gds.face.service.IGdsChannelUrlService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
	<dubbo:reference id="otaHotelFullFlagService"  
        interface="com.fangbaba.gds.face.service.IOtaHotelFullFlagService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>  
  			
	<dubbo:reference id="IGdsChannelService"  
        interface="com.fangbaba.gds.face.service.IGdsChannelService"  timeout="30000" group="${dubbo.gds.group}" version="1.0.0" check="false"/>

    <dubbo:reference id="hotelTagsService"
                     interface="com.fangbaba.basic.face.service.HotelTagsService" timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>

	<dubbo:reference id="roomtypeinfoService"
		interface="com.fangbaba.basic.face.service.RoomtypeinfoService" timeout="30000" group="${dubbo.basic.group}"  version="1.0.0" check="false"/>
	
	
	<dubbo:reference id="iRoomtypeMappingServiceDubbo"
		interface="com.fangbaba.gds.face.service.IRoomtypeMappingService" timeout="30000" group="${dubbo.gds.group}"  version="1.0.0" check="false" retries="0"/>
	<dubbo:reference id="iHotelMappingServiceDubbo"
		interface="com.fangbaba.gds.face.service.IHotelMappingService" timeout="30000" group="${dubbo.gds.group}"  version="1.0.0" check="false"  retries="0"/>
 <dubbo:reference id="hotelExtensionService"
                     interface="com.fangbaba.basic.face.service.HotelExtensionService" timeout="30000" group="${dubbo.basic.group}" version="1.0.0" check="false"/>
	   
</beans>  